#!/usr/bin/make -f

# The kernel sources are fetched by scripts/prepare-kernel.sh
KERNEL_SOURCES = $(CURDIR)/android_kernel_common

include $(CURDIR)/debian/android-kernel-info.mk
include /usr/share/linux-packaging-snippets/kernel-snippet.mk

%:
	dh $@
